@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*{
	font-family: 'Open Sans', sans-serif;
}

#links{
	font-size: 15px;
	font-family: 'Open Sans:300';
}

#links a{
	color: black;
	text-decoration: none
}

#nav{
	background-color: #de5900;
}


#nav a{
	color: white;
	font-size: 40px;
	text-decoration: none;
}

#control{
	height: 100px;
	text-align: center;
	line-height: 100px;

}

#jumbotron{
	height: 600px;
	background-image: url("images/guitar.jpg");
	background-size: cover;
	background-attachment: fixed;


}
#jumbotron h1{
	color: white;
	font-size: 6em;
	text-align: center;

}
#jumbotron h2{
	color: white;
	font-size: 3em;
	text-align: center;
	
}

#jumb-control{
	margin-top: 180px;
}


.space{
	padding-top: 80px;
}

.paras{
	padding-top: 0;
}
.paras h2{
	font-size: 3em;
	margin-top: 0px;
}
.paras p{
	font-size: 1.6em;
}


.space_control{
	margin-top: 40px;
	margin-bottom: 40px;
}

.color_control{
	background-color: #ffc766;
	color: white;
}
.person_group{
	width:300px;
	
}
.person_group p{
	margin-top: 30px;
	font-size: .9em;
}

.pack{
	text-align: center;
}
.pack img{
	margin: auto;
}

.contact{
	text-align: center;
	margin: auto;
}

.contact a{
	text-decoration: none;
	color: white;
}